asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
django-phonenumber-field
phonenumbers
gunicorn
dj-database-url
agora-token-builder
psycopg[binary]
pika
pillow
supabase
python-dotenv
drf-spectacular
requests
celery django-celery-beat redis
djangorestframework-recursive